.filter{
    height: 45px;
    margin: 20px 0px;
    padding: 5px 20px;
    // display: inline-block;
    // display: flex;
    // align-items: flex-start;
}

  
  .search__input {
//   position: relative;
display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid;
  height: 35px;
  }
  .search__input span{
    // position: absolute;
    // right: 16px;
    top: 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DADDE2;
    padding: 3px 7px;
    display: flex;
    align-items: center;
    }
  
    .search__input span:hover{
      background-color: #EADFD8;
      color: #fff;
    }
    .search__input input{
        border: none;
      width: 95%;
    margin-right: 15px;
    padding: 5px 10px;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
  }

  .btn-sort{
    font-size: 20px;
    padding: 0 15px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .filter-price{
    display: flex;
    justify-content: space-around;

  }