.collection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.collection-item {
  width: 380px;
  height: 240px;
  position: relative;

  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  margin-bottom: 40px;

  &:hover {
    cursor: pointer;
  }
}

.collection-item:hover .item-content {
  bottom: 0px;
  transition: all .4s linear;

}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-content {
  bottom: -100px;
  width: 100%;
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  // bottom: 0;

  .name{
    font-size: 25px;
    text-align: center;
  }

  .collection {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 16px;
  }
}
