.shop-page{
    padding: 20px 20px;
    //
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
}

.display-filter{
    width: 30%;
}
.display-items{
    margin-left: 15px;
    width: 68%;
}
